html, body{
    padding: 0;
    margin: 0;
}

header{
    background-color: purple;
    height: 60px;
}

section{
    background-color: green;
    overflow: hidden;
    display: flex;
    /*flex-direction: row-reverse;*/
}

nav{
    background-color: beige;
    width: 25%;
}

article{
    background-color: aquamarine;
    width: 75%;
    height: 80px;
}

footer{
    /*clear:both*/
    background-color: pink;
    height: 120px;    
}

#container{
    background-color: orange;
    margin: 0 auto;
    max-width: 1280px;
}

